@font-face {
  font-family: "sinch-icons";
  src: url('sinch-icons.eot?t=1764222566505'); /* IE9*/
  src: url('sinch-icons.eot?t=1764222566505#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('sinch-icons.woff2?t=1764222566505') format('woff2'),
  url('sinch-icons.woff?t=1764222566505') format('woff'),
  url('sinch-icons.ttf?t=1764222566505') format('truetype'),
  url('sinch-icons.svg?t=1764222566505') format('svg');
}

[class^="si-"], [class*=" si-"] {
  font-family: 'sinch-icons' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.si-5g-readiness::before { content: "\ea01"; }
.si-abcd::before { content: "\ea02"; }
.si-ai::before { content: "\ea03"; }
.si-airplane::before { content: "\ea04"; }
.si-announcement::before { content: "\ea05"; }
.si-barchart-down::before { content: "\ea06"; }
.si-barchart-up::before { content: "\ea07"; }
.si-bell-notification::before { content: "\ea08"; }
.si-bell-off::before { content: "\ea09"; }
.si-bell::before { content: "\ea0a"; }
.si-billing::before { content: "\ea0b"; }
.si-boat::before { content: "\ea0c"; }
.si-book::before { content: "\ea0d"; }
.si-calendar::before { content: "\ea0e"; }
.si-call-and-verified::before { content: "\ea0f"; }
.si-call::before { content: "\ea10"; }
.si-calling-api::before { content: "\ea11"; }
.si-campaigns::before { content: "\ea12"; }
.si-car::before { content: "\ea13"; }
.si-channel-apple-business-chat-square::before { content: "\ea14"; }
.si-channel-apple-business-chat::before { content: "\ea15"; }
.si-channel-facebook-messenger-square::before { content: "\ea16"; }
.si-channel-facebook-messenger::before { content: "\ea17"; }
.si-channel-facebook-square::before { content: "\ea18"; }
.si-channel-facebook::before { content: "\ea19"; }
.si-channel-google-business-square::before { content: "\ea1a"; }
.si-channel-google-business::before { content: "\ea1b"; }
.si-channel-instagram-square::before { content: "\ea1c"; }
.si-channel-instagram::before { content: "\ea1d"; }
.si-channel-line-square::before { content: "\ea1e"; }
.si-channel-line::before { content: "\ea1f"; }
.si-channel-mms-round::before { content: "\ea20"; }
.si-channel-mms-square::before { content: "\ea21"; }
.si-channel-notify-square::before { content: "\ea22"; }
.si-channel-notify::before { content: "\ea23"; }
.si-channel-phone-round::before { content: "\ea24"; }
.si-channel-phone-square::before { content: "\ea25"; }
.si-channel-push-round::before { content: "\ea26"; }
.si-channel-push-square::before { content: "\ea27"; }
.si-channel-rcs-round::before { content: "\ea28"; }
.si-channel-rcs-square::before { content: "\ea29"; }
.si-channel-sms-round::before { content: "\ea2a"; }
.si-channel-sms-square::before { content: "\ea2b"; }
.si-channel-talk-square::before { content: "\ea2c"; }
.si-channel-talk::before { content: "\ea2d"; }
.si-channel-telegram-square::before { content: "\ea2e"; }
.si-channel-telegram::before { content: "\ea2f"; }
.si-channel-twitter-square::before { content: "\ea30"; }
.si-channel-twitter::before { content: "\ea31"; }
.si-channel-viber-square::before { content: "\ea32"; }
.si-channel-viber::before { content: "\ea33"; }
.si-channel-webchat-round::before { content: "\ea34"; }
.si-channel-webchat-square::before { content: "\ea35"; }
.si-channel-wechat-square::before { content: "\ea36"; }
.si-channel-wechat::before { content: "\ea37"; }
.si-channel-whatsapp-square::before { content: "\ea38"; }
.si-channel-whatsapp::before { content: "\ea39"; }
.si-channels::before { content: "\ea3a"; }
.si-chat-message::before { content: "\ea3b"; }
.si-chat::before { content: "\ea3c"; }
.si-chatbot::before { content: "\ea3d"; }
.si-chatlayer::before { content: "\ea3e"; }
.si-cloud::before { content: "\ea3f"; }
.si-connection::before { content: "\ea40"; }
.si-contact-center::before { content: "\ea41"; }
.si-contact-pro::before { content: "\ea42"; }
.si-contact::before { content: "\ea43"; }
.si-cookies::before { content: "\ea44"; }
.si-credit-card::before { content: "\ea45"; }
.si-custom-message::before { content: "\ea46"; }
.si-custom::before { content: "\ea47"; }
.si-customer-satisfaction-smiley::before { content: "\ea48"; }
.si-database::before { content: "\ea49"; }
.si-decision::before { content: "\ea4a"; }
.si-developer::before { content: "\ea4b"; }
.si-direction::before { content: "\ea4c"; }
.si-easytouse::before { content: "\ea4d"; }
.si-edit::before { content: "\ea4e"; }
.si-finance::before { content: "\ea4f"; }
.si-flow-chart::before { content: "\ea50"; }
.si-flow::before { content: "\ea51"; }
.si-global-settings::before { content: "\ea52"; }
.si-gym::before { content: "\ea53"; }
.si-handshaking::before { content: "\ea54"; }
.si-health-insurance::before { content: "\ea55"; }
.si-healthcare::before { content: "\ea56"; }
.si-help::before { content: "\ea57"; }
.si-home::before { content: "\ea58"; }
.si-idea::before { content: "\ea59"; }
.si-integration::before { content: "\ea5a"; }
.si-intelligent-revenue-maximisation::before { content: "\ea5b"; }
.si-laptop::before { content: "\ea5c"; }
.si-layout::before { content: "\ea5d"; }
.si-line-chart-down::before { content: "\ea5e"; }
.si-line-chart-up::before { content: "\ea5f"; }
.si-lock::before { content: "\ea60"; }
.si-logistic::before { content: "\ea61"; }
.si-logo-campaigns-icon-wordmark::before { content: "\ea62"; }
.si-logo-campaigns-icon::before { content: "\ea63"; }
.si-logo-chatlayer-icon-wordmark::before { content: "\ea64"; }
.si-logo-chatlayer-icon::before { content: "\ea65"; }
.si-logo-contact-pro-icon-wordmark::before { content: "\ea66"; }
.si-logo-contact-pro-icon::before { content: "\ea67"; }
.si-logo-email-on-acid-icon-wordmark::before { content: "\ea68"; }
.si-logo-email-on-acid-icon::before { content: "\ea69"; }
.si-logo-engage-icon-wordmark::before { content: "\ea6a"; }
.si-logo-engage-icon::before { content: "\ea6b"; }
.si-logo-mailgun-icon-wordmark::before { content: "\ea6c"; }
.si-logo-mailgun-icon::before { content: "\ea6d"; }
.si-logo-mailjet-icon-wordmark::before { content: "\ea6e"; }
.si-logo-mailjet-icon::before { content: "\ea6f"; }
.si-logo-message-media-icon-wordmark::before { content: "\ea70"; }
.si-logo-message-media-icon::before { content: "\ea71"; }
.si-logo-message-studio-icon-wordmark::before { content: "\ea72"; }
.si-logo-message-studio-icon::before { content: "\ea73"; }
.si-logo-nectary-icon-wordmark::before { content: "\ea74"; }
.si-logo-nectary-icon::before { content: "\ea75"; }
.si-logo-portal-build-icon-wordmark::before { content: "\ea76"; }
.si-logo-portal-build-icon::before { content: "\ea77"; }
.si-logo-portal-connect-icon-wordmark::before { content: "\ea78"; }
.si-logo-portal-connect-icon::before { content: "\ea79"; }
.si-logo-portal-engage-icon-wordmark::before { content: "\ea7a"; }
.si-logo-portal-engage-icon::before { content: "\ea7b"; }
.si-logo-portal-mailgun-icon-wordmark::before { content: "\ea7c"; }
.si-logo-portal-mailgun-icon::before { content: "\ea7d"; }
.si-logo-portal-mailjet-icon-wordmark::before { content: "\ea7e"; }
.si-logo-portal-mailjet-icon::before { content: "\ea7f"; }
.si-logo-portal-message-media-icon-wordmark::before { content: "\ea80"; }
.si-logo-portal-message-media-icon::before { content: "\ea81"; }
.si-logo-portal-sinch-account-icon-wordmark::before { content: "\ea82"; }
.si-logo-portal-sinch-id-icon-wordmark::before { content: "\ea83"; }
.si-logo-simple-texting-icon-wordmark::before { content: "\ea84"; }
.si-logo-simple-texting-icon::before { content: "\ea85"; }
.si-logo-sinch-icon-wordmark::before { content: "\ea86"; }
.si-logo-sinch-icon::before { content: "\ea87"; }
.si-long-message::before { content: "\ea88"; }
.si-loop::before { content: "\ea89"; }
.si-low-cost::before { content: "\ea8a"; }
.si-make-it-happen::before { content: "\ea8b"; }
.si-make-money::before { content: "\ea8c"; }
.si-massage::before { content: "\ea8d"; }
.si-media::before { content: "\ea8e"; }
.si-message-questions::before { content: "\ea8f"; }
.si-message::before { content: "\ea90"; }
.si-messaging::before { content: "\ea91"; }
.si-mic::before { content: "\ea92"; }
.si-mms::before { content: "\ea93"; }
.si-mobile-intergration::before { content: "\ea94"; }
.si-mobile-numbers::before { content: "\ea95"; }
.si-mobile::before { content: "\ea96"; }
.si-money::before { content: "\ea97"; }
.si-multiple-channels::before { content: "\ea98"; }
.si-music::before { content: "\ea99"; }
.si-mute::before { content: "\ea9a"; }
.si-news::before { content: "\ea9b"; }
.si-numbers::before { content: "\ea9c"; }
.si-office-activities::before { content: "\ea9d"; }
.si-office::before { content: "\ea9e"; }
.si-opened-message::before { content: "\ea9f"; }
.si-operators::before { content: "\eaa0"; }
.si-package::before { content: "\eaa1"; }
.si-path::before { content: "\eaa2"; }
.si-perso-message::before { content: "\eaa3"; }
.si-pie-chart::before { content: "\eaa4"; }
.si-piggybank::before { content: "\eaa5"; }
.si-pin::before { content: "\eaa6"; }
.si-price-tag::before { content: "\eaa7"; }
.si-protection::before { content: "\eaa8"; }
.si-purpose::before { content: "\eaa9"; }
.si-push::before { content: "\eaaa"; }
.si-puzzle::before { content: "\eaab"; }
.si-queue::before { content: "\eaac"; }
.si-rcs::before { content: "\eaad"; }
.si-retail::before { content: "\eaae"; }
.si-rich-content::before { content: "\eaaf"; }
.si-rocket::before { content: "\eab0"; }
.si-roi::before { content: "\eab1"; }
.si-search::before { content: "\eab2"; }
.si-send::before { content: "\eab3"; }
.si-settings::before { content: "\eab4"; }
.si-shopping-cart::before { content: "\eab5"; }
.si-sms::before { content: "\eab6"; }
.si-support::before { content: "\eab7"; }
.si-system-settings::before { content: "\eab8"; }
.si-telemast::before { content: "\eab9"; }
.si-thumbs-down::before { content: "\eaba"; }
.si-thumbs-up::before { content: "\eabb"; }
.si-time::before { content: "\eabc"; }
.si-tutorial::before { content: "\eabd"; }
.si-user::before { content: "\eabe"; }
.si-users::before { content: "\eabf"; }
.si-verification-api::before { content: "\eac0"; }
.si-verified-phone::before { content: "\eac1"; }
.si-video-calling::before { content: "\eac2"; }
.si-video-off::before { content: "\eac3"; }
.si-video-on::before { content: "\eac4"; }
.si-voice-calling::before { content: "\eac5"; }
.si-voice-video-and-data::before { content: "\eac6"; }
.si-webhook::before { content: "\eac7"; }
.si-wheels::before { content: "\eac8"; }
.si-wi-fi::before { content: "\eac9"; }


$si-5g-readiness: '\ea01';
$si-abcd: '\ea02';
$si-ai: '\ea03';
$si-airplane: '\ea04';
$si-announcement: '\ea05';
$si-barchart-down: '\ea06';
$si-barchart-up: '\ea07';
$si-bell-notification: '\ea08';
$si-bell-off: '\ea09';
$si-bell: '\ea0a';
$si-billing: '\ea0b';
$si-boat: '\ea0c';
$si-book: '\ea0d';
$si-calendar: '\ea0e';
$si-call-and-verified: '\ea0f';
$si-call: '\ea10';
$si-calling-api: '\ea11';
$si-campaigns: '\ea12';
$si-car: '\ea13';
$si-channel-apple-business-chat-square: '\ea14';
$si-channel-apple-business-chat: '\ea15';
$si-channel-facebook-messenger-square: '\ea16';
$si-channel-facebook-messenger: '\ea17';
$si-channel-facebook-square: '\ea18';
$si-channel-facebook: '\ea19';
$si-channel-google-business-square: '\ea1a';
$si-channel-google-business: '\ea1b';
$si-channel-instagram-square: '\ea1c';
$si-channel-instagram: '\ea1d';
$si-channel-line-square: '\ea1e';
$si-channel-line: '\ea1f';
$si-channel-mms-round: '\ea20';
$si-channel-mms-square: '\ea21';
$si-channel-notify-square: '\ea22';
$si-channel-notify: '\ea23';
$si-channel-phone-round: '\ea24';
$si-channel-phone-square: '\ea25';
$si-channel-push-round: '\ea26';
$si-channel-push-square: '\ea27';
$si-channel-rcs-round: '\ea28';
$si-channel-rcs-square: '\ea29';
$si-channel-sms-round: '\ea2a';
$si-channel-sms-square: '\ea2b';
$si-channel-talk-square: '\ea2c';
$si-channel-talk: '\ea2d';
$si-channel-telegram-square: '\ea2e';
$si-channel-telegram: '\ea2f';
$si-channel-twitter-square: '\ea30';
$si-channel-twitter: '\ea31';
$si-channel-viber-square: '\ea32';
$si-channel-viber: '\ea33';
$si-channel-webchat-round: '\ea34';
$si-channel-webchat-square: '\ea35';
$si-channel-wechat-square: '\ea36';
$si-channel-wechat: '\ea37';
$si-channel-whatsapp-square: '\ea38';
$si-channel-whatsapp: '\ea39';
$si-channels: '\ea3a';
$si-chat-message: '\ea3b';
$si-chat: '\ea3c';
$si-chatbot: '\ea3d';
$si-chatlayer: '\ea3e';
$si-cloud: '\ea3f';
$si-connection: '\ea40';
$si-contact-center: '\ea41';
$si-contact-pro: '\ea42';
$si-contact: '\ea43';
$si-cookies: '\ea44';
$si-credit-card: '\ea45';
$si-custom-message: '\ea46';
$si-custom: '\ea47';
$si-customer-satisfaction-smiley: '\ea48';
$si-database: '\ea49';
$si-decision: '\ea4a';
$si-developer: '\ea4b';
$si-direction: '\ea4c';
$si-easytouse: '\ea4d';
$si-edit: '\ea4e';
$si-finance: '\ea4f';
$si-flow-chart: '\ea50';
$si-flow: '\ea51';
$si-global-settings: '\ea52';
$si-gym: '\ea53';
$si-handshaking: '\ea54';
$si-health-insurance: '\ea55';
$si-healthcare: '\ea56';
$si-help: '\ea57';
$si-home: '\ea58';
$si-idea: '\ea59';
$si-integration: '\ea5a';
$si-intelligent-revenue-maximisation: '\ea5b';
$si-laptop: '\ea5c';
$si-layout: '\ea5d';
$si-line-chart-down: '\ea5e';
$si-line-chart-up: '\ea5f';
$si-lock: '\ea60';
$si-logistic: '\ea61';
$si-logo-campaigns-icon-wordmark: '\ea62';
$si-logo-campaigns-icon: '\ea63';
$si-logo-chatlayer-icon-wordmark: '\ea64';
$si-logo-chatlayer-icon: '\ea65';
$si-logo-contact-pro-icon-wordmark: '\ea66';
$si-logo-contact-pro-icon: '\ea67';
$si-logo-email-on-acid-icon-wordmark: '\ea68';
$si-logo-email-on-acid-icon: '\ea69';
$si-logo-engage-icon-wordmark: '\ea6a';
$si-logo-engage-icon: '\ea6b';
$si-logo-mailgun-icon-wordmark: '\ea6c';
$si-logo-mailgun-icon: '\ea6d';
$si-logo-mailjet-icon-wordmark: '\ea6e';
$si-logo-mailjet-icon: '\ea6f';
$si-logo-message-media-icon-wordmark: '\ea70';
$si-logo-message-media-icon: '\ea71';
$si-logo-message-studio-icon-wordmark: '\ea72';
$si-logo-message-studio-icon: '\ea73';
$si-logo-nectary-icon-wordmark: '\ea74';
$si-logo-nectary-icon: '\ea75';
$si-logo-portal-build-icon-wordmark: '\ea76';
$si-logo-portal-build-icon: '\ea77';
$si-logo-portal-connect-icon-wordmark: '\ea78';
$si-logo-portal-connect-icon: '\ea79';
$si-logo-portal-engage-icon-wordmark: '\ea7a';
$si-logo-portal-engage-icon: '\ea7b';
$si-logo-portal-mailgun-icon-wordmark: '\ea7c';
$si-logo-portal-mailgun-icon: '\ea7d';
$si-logo-portal-mailjet-icon-wordmark: '\ea7e';
$si-logo-portal-mailjet-icon: '\ea7f';
$si-logo-portal-message-media-icon-wordmark: '\ea80';
$si-logo-portal-message-media-icon: '\ea81';
$si-logo-portal-sinch-account-icon-wordmark: '\ea82';
$si-logo-portal-sinch-id-icon-wordmark: '\ea83';
$si-logo-simple-texting-icon-wordmark: '\ea84';
$si-logo-simple-texting-icon: '\ea85';
$si-logo-sinch-icon-wordmark: '\ea86';
$si-logo-sinch-icon: '\ea87';
$si-long-message: '\ea88';
$si-loop: '\ea89';
$si-low-cost: '\ea8a';
$si-make-it-happen: '\ea8b';
$si-make-money: '\ea8c';
$si-massage: '\ea8d';
$si-media: '\ea8e';
$si-message-questions: '\ea8f';
$si-message: '\ea90';
$si-messaging: '\ea91';
$si-mic: '\ea92';
$si-mms: '\ea93';
$si-mobile-intergration: '\ea94';
$si-mobile-numbers: '\ea95';
$si-mobile: '\ea96';
$si-money: '\ea97';
$si-multiple-channels: '\ea98';
$si-music: '\ea99';
$si-mute: '\ea9a';
$si-news: '\ea9b';
$si-numbers: '\ea9c';
$si-office-activities: '\ea9d';
$si-office: '\ea9e';
$si-opened-message: '\ea9f';
$si-operators: '\eaa0';
$si-package: '\eaa1';
$si-path: '\eaa2';
$si-perso-message: '\eaa3';
$si-pie-chart: '\eaa4';
$si-piggybank: '\eaa5';
$si-pin: '\eaa6';
$si-price-tag: '\eaa7';
$si-protection: '\eaa8';
$si-purpose: '\eaa9';
$si-push: '\eaaa';
$si-puzzle: '\eaab';
$si-queue: '\eaac';
$si-rcs: '\eaad';
$si-retail: '\eaae';
$si-rich-content: '\eaaf';
$si-rocket: '\eab0';
$si-roi: '\eab1';
$si-search: '\eab2';
$si-send: '\eab3';
$si-settings: '\eab4';
$si-shopping-cart: '\eab5';
$si-sms: '\eab6';
$si-support: '\eab7';
$si-system-settings: '\eab8';
$si-telemast: '\eab9';
$si-thumbs-down: '\eaba';
$si-thumbs-up: '\eabb';
$si-time: '\eabc';
$si-tutorial: '\eabd';
$si-user: '\eabe';
$si-users: '\eabf';
$si-verification-api: '\eac0';
$si-verified-phone: '\eac1';
$si-video-calling: '\eac2';
$si-video-off: '\eac3';
$si-video-on: '\eac4';
$si-voice-calling: '\eac5';
$si-voice-video-and-data: '\eac6';
$si-webhook: '\eac7';
$si-wheels: '\eac8';
$si-wi-fi: '\eac9';
